@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h3><a href="http://www.codinghappiness.com/">codinghappiness.com</a></h3>

<address>
    <strong>email:</strong> <a href="mailto:contact@codinghappiness.com">contact@codinghappiness.com</a><br/>
</address>