@{
    ViewBag.Title = "Home Page";
}

@section StyleSheets{
    <link rel='stylesheet' href='/Content/fullcalendar.css'/>
    <link rel='stylesheet' href='/Content/themes/base/jquery-ui.min.css'/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="~/Content/fullcalendar.print.css" media="print" rel="stylesheet"/>
    <link href="~/Content/fullcalendar.css" rel="stylesheet"/>

}

@section scripts{
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            var $modal = $('#myModal');

            var $eventId = $('#eventID');
            var $eventTitle = $('#eventTitle');
            var $eventDate = $('#eventDate');
            var $eventTime = $('#eventTime');
            var $eventDuration = $('#eventDuration');

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                height: 'auto',
                defaultView: 'agendaWeek',
                editable: true,
                events: {
                    url: '/Home/GetEvents/',
                    cache: true
                },
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                eventClick: function(calEvent, jsEvent, view) {
                    alert('You clicked on event id: ' +
                        calEvent.Id +
                        "\nStart: " +
                        calEvent.Start +
                        "\nAnd the title is: " +
                        calEvent.Title);
                },
                //dayClick: function(date, jsEvent, view) {
                //    $eventDate.val(moment(date, 'DD.MM.YYYY').format('DD-MM-YYYY'));
                //    $eventTime.val(moment(date, 'DD.MM.YYYY').format('HH:MM'));
                //    ShowEventPopup();
                //},
                select: function(start, end, jsEvent, view) {
                    $eventDate.val(moment(start, 'DD.MM.YYYY').format('DD-MM-YYYY'));
                    $eventTime.val(moment(start, 'DD.MM.YYYY').format('HH:MM'));
                    ShowEventPopup();
                }
            });

            function ClearPopupFormValues() {
                $eventId.val("");
                $eventTitle.val("");
                $eventDate.val("");
                $eventTime.val("");
                $eventDuration.val("");
            }

            function ShowEventPopup() {
                $modal.modal('show');
            }

            $('#saveDate').click(function() {
                var data = {
                    name: $eventTitle.val(),
                    startDate: $eventDate.val(),
                    time: $eventTime.val(),
                    duration: $eventDuration.val()
                };
                console.log(data);

                $.ajax({
                    type: 'POST',
                    url: "/Home/AddEvent",
                    data: data,
                    success: function(response) {
                        if (response == 'True') {
                            $('#calendar').fullCalendar('refetchEvents');
                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });
                $modal.modal('hide');
            });
        });
    </script>
}


<div class="container">
    <div id="calendar"></div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form id="EventForm" class="well">
                        <input type="hidden" id="eventID">
                        <label>Event title</label>
                        <input type="text" id="eventTitle" placeholder="Title here"><br/>
                        <label>Scheduled date</label>
                        <input type="text" id="eventDate"><br/>
                        <label>Scheduled time</label>
                        <input type="text" id="eventTime"><br/>
                        <label>Appointment length (minutes)</label>
                        <input type="text" id="eventDuration" value="30"><br/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveDate">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

