@{
    ViewBag.Title = "Home Page";
}

@section StyleSheets{
    <link rel='stylesheet' href='/Content/fullcalendar.css'/>
    <link rel='stylesheet' href='/Content/themes/base/jquery-ui.min.css'/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="~/Content/fullcalendar.print.css" media="print" rel="stylesheet"/>
    <link href="~/Content/fullcalendar.css" rel="stylesheet"/>

}

@section scripts{
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                defaultView: 'agendaWeek',
                editable: true,
                
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15
            });
        });

    </script>
}


<div class="container">
    <div id="calendar"></div>
</div>
