body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 25px 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.modal-title {
    font-weight: bold;
    font-size: 200%;
}

.modal-body {
    display: static;
}

.modal-body, .modal-body > form {
    overflow: hidden;
}

.modal-body label, .modal-body input, .modal-body .input-value {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 40%;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
}

.modal-body input, .modal-body .input-value {
    float: right;
    width: 60%;
    max-width: 100%;
    border: 1px solid #CCC;
}

.modal-body .input-value {
    border: 0;
}

.modal-body .input-value .label, .modal-header .label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: inherit;
    line-height: 1.2;
    padding-top: 0.35em;
}

.modal-header .label {
    vertical-align: baseline;
    line-height: 1;
}

